h1 {
  text-align: center;
  margin-top: 50px;
}

.thick {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.thick2 {
  padding-top: 160px !important;
  padding-bottom: 160px !important;
}

.thin {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

:checked + label {
   font-weight: bold;
   color: red;
}

.col-sm-6 {
  margin-left: 300px !important;
}

.text30 {
  font-size: 30px;
}

.form-check-input {
  display: none !important;
}

#transparent {
  background: transparent;
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
  width: 20%;
}

#dateselect {
  width: auto;
  border: none;
  border-bottom: 1px solid black;
}

.bg-1 {
  background-color: #eb3471; /* Green */
  color: #ffffff;
}
.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}

img {
  max-width: 30%;
  height: auto;
}

.container-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.center-text {
  text-align: center;
}

.slidecontainer {
  width: 40%; /* Width of the outside container */
  margin-left: auto;
  margin-right: auto;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #111111; /* Black background */
  cursor: pointer; /* Cursor on hover */
  border: 30px solid #11111;
  border-radius: 20px;
}

.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
